html,
body {
  font-family: Verdana;
  font-size: 13px;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
#app {
  background-color: #f6f6ef;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  margin-top: -30px;
  text-align: center;
}
#header {
  background-color: #f60;
  height: 24px;
}
#header h1 {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#yc {
  border: 1px solid #fff;
  margin: 2px;
  display: inline-block;
  vertical-align: middle;
}
#yc img {
  vertical-align: middle;
}
#nav {
  padding: 10px 10px 10px 40px;
  background-color: #333;
  color: #fff;
}
#nav a {
  color: #fff;
  margin-right: 10px;
}
.story {
  padding: 2px 0 2px 40px;
  position: relative;
  transition: background-color 0.2s ease;
}
.story p {
  margin: 2px 0;
}
.story .title:visited {
  color: #828282;
}
.story .index {
  color: #828282;
  position: absolute;
  width: 30px;
  text-align: right;
  left: 0;
  top: 4px;
}
.story .domain,
.story .subtext {
  font-size: 11px;
  color: #828282;
}
.story .domain a,
.story .subtext a {
  color: #828282;
}
.story .subtext a:hover {
  text-decoration: underline;
}
.story.current {
  background-color: #ededdf;
}
.sidebar {
  transition: all 0.3s ease;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #f6f6ef;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  overflow-y: scroll;
  width: 600px;
  box-sizing: border-box;
  padding: 10px 30px;
}
.sidebar .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
}
.sidebar.v-enter,
.sidebar.v-leave {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.sidebar.user {
  color: #828282;
}
.sidebar.user li {
  margin: 5px 0;
}
.sidebar.user .label {
  display: inline-block;
  min-width: 60px;
}
.sidebar.user .about {
  margin-top: 1em;
}
.sidebar.user .links a {
  text-decoration: underline;
}
.sidebar.comments .story {
  padding-left: 0;
  margin-bottom: 30px;
}
.sidebar.comments .story .index,
.sidebar.comments .story .comments-link {
  display: none;
}
.sidebar.comments .comhead {
  color: #828282;
  font-size: 11px;
  margin-bottom: 8px;
}
.sidebar.comments .comhead a {
  color: #828282;
}
.sidebar.comments .comment {
  margin-bottom: 20px;
}
.sidebar.comments .comment p {
  margin: 8px 0 0;
  font-size: 12px;
}
.sidebar.comments .child-comments {
  margin: 8px 0 8px 20px;
}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
