$bg = #f6f6ef
$gray = #828282

html, body
  font-family Verdana
  font-size 13px
  margin 0

ul
  list-style-type none
  padding 0
  margin 5px 0

a
  color #000
  cursor pointer
  text-decoration none

#app
  background-color $bg

#loading
  position absolute
  top 50%
  left 50%
  width 100px
  margin-left -50px
  margin-top -30px
  text-align center

#header
  background-color #f60
  height 24px
  h1
    font-weight bold
    font-size 13px
    display inline-block
    vertical-align middle
    margin 0

#yc
  border 1px solid #fff
  margin 2px
  display inline-block
  vertical-align middle
  img
    vertical-align middle

#nav
  padding 10px 10px 10px 40px
  border-top 2px solid #f60
  a
    margin-right 10px
    &:hover
      text-decoration underline
  .source
    float right

.story
  padding 2px 0 2px 40px
  position relative
  transition background-color .2s ease
  p
    margin 2px 0
  .title:visited
      color $gray
  .index
    color $gray
    position absolute
    width 30px
    text-align right
    left 0
    top 4px
  .domain, .subtext
    font-size 11px
    color $gray
    a
      color $gray
  .subtext a:hover
    text-decoration underline
  .poll-options
    padding-left 30px
    list-style-type disc
    li
      margin 12px 0
      p
        margin 8px 0
  &.current
    background-color darken($bg, 5%)

.sidebar
  transition all .3s ease
  position fixed
  right 0
  top 0
  height 100%
  background-color $bg
  box-shadow 0 0 8px rgba(0,0,0,.15)
  overflow-y scroll
  width 600px
  box-sizing border-box
  padding 10px 30px
  .close
    position absolute
    top 0
    right 0
    padding 10px
    font-size 20px
  &.v-enter, &.v-leave
    -webkit-transform translate3d(100%,0,0)
    transform translate3d(100%,0,0)

.sidebar.user
  color $gray
  li
    margin 5px 0
  .label
    display inline-block
    min-width 60px
  .about
    margin-top 1em
  .links a
    text-decoration underline

.sidebar.comments
  .story
    padding-left 0
    margin-bottom 30px
    .index, .comments-link
      display none
  .comhead
    color $gray
    font-size 11px
    margin-bottom 8px
    a
      color $gray
  .comment
    margin-bottom 20px
    p
      margin 8px 0 0
      font-size 12px
  .child-comments
    margin 8px 0 8px 20px
    


@media screen and (max-width:600px)
  .sidebar
    width 100%