<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>HackerNews with Vue.js + HN API</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.firebase.com/js/client/1.1.0/firebase.js"></script>
    <script src="js/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- loading -->
      <div id="loading" v-show="stories.length === 0">Loading...</div>
      <!-- header -->
      <div id="header">
        <a id="yc" href="http://www.ycombinator.com">
          <img src="https://news.ycombinator.com/y18.gif">
        </a>
        <h1><a href="#1">Hacker News</a></h1>
      </div>
      <!-- main list -->
      <ul>
        <li v-repeat="stories" trackby="id" class="story" v-class="current: story.id === id">
          <span class="index">
            {{(page - 1) * 30 + $index + 1}}.
          </span>
          <p>
            <a class="title" href="{{url || ('http://news.ycombinator.com/item?id=' + id)}}" target="_blank">
              {{title}}
            </a>
            <span class="domain" v-show="type != 'job'">
              ({{url | domain}})
            </span>
          </p>
          <p class="subtext">
            <span v-show="type != 'job'">
              {{score}} points by
              <a v-on="click:openUser(by)">{{by}}</a>
            </span>
            {{time | fromNow}} ago
            <span v-show="type != 'job'">
              | <a v-on="click:openComments($data)">comments</a>
            </span>
          </p>
        </li>
      </ul>
      <!-- navigation -->
      <div id="nav" v-show="stories.length > 0">
        <a v-if="page > 1" href="#{{page - 1}}">&lt; prev</a>
        <a v-if="page < 4" href="#{{page + 1}}">more...</a>
      </div>
      <!-- user sidebar -->
      <div class="sidebar user" v-if="user" v-transition>
        <ul>
          <li><span class="label">user:</span> {{user.id}}</li>
          <li><span class="label">created:</span> {{user.created | fromNow}} ago</li>
          <li><span class="label">karma:</span> {{user.karma}}</li>
          <li>
            <span class="label">about:</span>
            <div class="about" v-html="user.about"></div>
          </li>
        </ul>
        <a class="close" v-on="click:closeSidebar">&times;</a>
      </div>
      <!-- comments sidebar -->
      <div class="sidebar comments" v-if="story" v-transition>
        <ul v-repeat="story.kids">{{$value}}</ul>
        <a class="close" v-on="click:closeSidebar">&times;</a>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>